/* Колір тіла */
body {
  background-color: #ffffff;
}

/* MenuMain */
@import url("https://fonts.googleapis.com/css?family=Arimo");
.top-menu {
  position: relative;
  top: 20px;
  background: rgba(34, 34, 34, 0.2);
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {
  float: left;
}
.right-item {
  float: right;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  color: white;
  transition: 0.3s linear;
}
.menu-main a:hover {
  background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 830px) {
  .menu-main {
    padding-top: 90px;
    text-align: center;
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }
}
@media (max-width: 630px) {
  .menu-main li {
    display: block;
  }
}

/* Контент сайту */
#cincopa_d23a41 {
  width: 70%;
  height: 150%;
  padding-top: 90px;
}

#controls_navcincopa_4e1eed {
  padding: 40px 0 0 0;
}

.images-block {
  margin-bottom: 5%;
  padding-left: 9%;
}
.images-block img {
  border-radius: 5px;
  border: solid 5px #dad7d5;
  width: 22%;
  max-height: 370px;
  height: 580px;
}

.btn {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}


.content {
  text-align: center;
  padding: 40px 150px 40px 150px;
  margin-top: 40px;
}

.content-text {
  
  padding: 20px 200px 20px 150px;
  font-size: 20px;
  text-align: left;
  
}



.content-x {
  padding: 20px 150px 20px 150px;
  text-align: center;
}



.socialnet {
  color: rgb(255, 255, 255);
  font-size: 1.1em;
  text-decoration: none;
}
.links {
  color: darkgray;
  text-decoration: none;
}

.soc-medias {
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.soc-medias-items {
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.2);
  

}
.soc-medias-items a {
  text-decoration: none;
  margin: 10px;
}
.soc-medias h1 {
  margin: 10px;
  color: black;
}

h5 {
  margin: 1px;
}
.soc-medias-items i {
  display: inline;
  align-items: center;
  color: #000;
  transition: 500ms;
  font-size: 2em;
}
.soc-medias-items i:hover {
  font-size: 2.3em;
}
.fa-instagram:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#af22d3),
    to(rgba(252, 56, 7, 0.89))
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.fa-viber:hover {
  color: #8f5db7;
}
.fa-telegram-plane:hover {
  color: #0088cc;
}
.fa-linkedin-in:hover {
  color: #0077b5;
}
.fa-facebook-f:hover {
  color: #3b5998;
}
.fa-github:hover {
  color: #6e5494;
}

.first-row,
.second-row,
.third-row {
  display: flex;
  flex-direction: row;
}

.first-row,
.second-row,
.third-row {
  display: flex;
  flex-direction: row;
  padding: 20px;
}